$spacing: 1.5rem;
$primary: rgb(226, 226, 226) !important;



.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $spacing*3.5;
  text-align: center;
  background: $primary;
  margin-top: 90px;
}
