.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-buttons{
  margin-top: 20px;
  margin-bottom: 20px;
}
.albumSelection{
  margin-top: 5% !important;
}
.albumSelectionList{
  margin-top: 90px !important;
}
.play {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  height: 35px;
    width: 47px;
    margin-left: 60px !important;
    cursor: pointer;
}
.lyricsSection{
  margin-top: 10px !important;
  margin-left: 105px !important;
}
.play-btn{
  margin-left: 140px !important;
  background-color: #e72c30 !important;
    color: rgb(226, 226, 226) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-grow: 1 !important;
    border-radius: 30px !important;
    font-size: 14px !important;
    padding: 0 25x !important;
    height: 30px !important;
    margin-bottom: 10px !important;
    cursor: pointer;
}
.albumDetail{
  margin-top: 40px !important;
}
.albumList{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 2px !important;
  background-color: rgb(226, 226, 226) !important;
  height: 50px !important;
  cursor: pointer;
}
.albums{
 margin-top: 2% !important;
}
.titlesection{
  margin-left: 140px !important;
  text-align: left !important;
}
.shuffle{
  cursor: pointer;
  height: 25px !important;
  width: 37px !important;
}
.skipStart{
  height: 25px !important;
  width: 37px !important;
  cursor: pointer;
}
.speaker{
  cursor: pointer;
  height: 25px !important;
  width: 37px !important;
}

.skipEnd{
  cursor: pointer;
  height: 25px !important;
  width: 37px !important;
}
.footerMusicPlay{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  height: 35px;
    width: 47px;
    margin-left:-30px !important;
}
.currentTrack{
  margin-left: -90px !important;
}
.beeMusicText{
  margin-top: 15px !important;
  margin-left: -30px !important;
}
.navbar-bglight{
  background-color: rgb(226, 226, 226) !important;
}
.LoginSign-btn{
  cursor: pointer;
}
.login-button-ml{
  margin-left: 91% !important;
}
.suggestion{
    width: 900px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 2%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.navbar-bglight{
  height: 90px !important;
}
.MuiBackdrop-root{
  /* z-index: 1 !important; */
}
.logoSection{
  cursor: pointer;
}
.albumblistCard{
  cursor: pointer;
}
.userPersonalInfo{
  transform: translate(-9%, 31%);
    padding: 20px 10px 10px 50px !important;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
    display: flex;
  align-items: left;
  justify-content: left;
}
.myAccountText{
  margin-top: 2% !important;
  margin-bottom: -2% !important;
}
.AccountDetails{
  transform: translate(29%, 41%);
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
    width: 59%;
}
.userDetails{
  text-align: left;
}
.trendingSongsSection{
  width: 12% !important;
    margin: 1% !important;
    cursor: pointer;
}
.trendingContainer{
  margin-left: 2% !important;
}
.addImage{
  width: 100% !important;
}
.MuiDialogContent-root {
  padding: 120px 150px 120px 150px !important;
  overflow-y: hidden !important;
}
.backdrop{
  z-index: 1 !important;
}
.search-input{
  border: 1px solid rgba(0,0,0,.1) !important;
    height: 40px !important;
    border-radius: 22px !important;
    width: 50% !important;
}
.accountDetailsPd{
  padding: 0% 7% 0% 7% !important;
}
