.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-buttons{
  margin-top: 20px;
  margin-bottom: 20px;
}
.albumSelection{
  margin-top: 5% !important;
}
.albumSelectionList{
  margin-top: 90px !important;
}
.play {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  height: 35px;
    width: 47px;
    margin-left: 60px !important;
    cursor: pointer;
}
.lyricsSection{
  margin-top: 10px !important;
  margin-left: 105px !important;
}
.play-btn{
  margin-left: 140px !important;
  background-color: #e72c30 !important;
    color: rgb(226, 226, 226) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-grow: 1 !important;
    border-radius: 30px !important;
    font-size: 14px !important;
    padding: 0 25x !important;
    height: 30px !important;
    margin-bottom: 10px !important;
    cursor: pointer;
}
.albumDetail{
  margin-top: 40px !important;
}
.albumList{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 2px !important;
  background-color: rgb(226, 226, 226) !important;;
  height: 50px !important;
}
.albums{
 margin-top: 2% !important;
}
.titlesection{
  margin-left: 140px !important;
  text-align: left !important;
}
.shuffle{
  cursor: pointer;
  height: 25px !important;
  width: 37px !important;
}
.skipStart{
  height: 25px !important;
  width: 37px !important;
  cursor: pointer;
}
.speaker{
  cursor: pointer;
  height: 25px !important;
  width: 37px !important;
}

.skipEnd{
  cursor: pointer;
  height: 25px !important;
  width: 37px !important;
}
.footerMusicPlay{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  height: 35px;
    width: 47px;
    margin-left:-30px !important;
}
.currentTrack{
  margin-left: -90px !important;
}
.beeMusicText{
  margin-top: 15px !important;
  margin-left: -30px !important;
}
.navbar-bglight{
  background-color: rgb(226, 226, 226) !important;
}
.LoginSign-btn{
  cursor: pointer;

}